body{
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/455884/cat.jpg');
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.grid-item {

  border-radius: 50%;
  width: 30em; /*https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units*/
  height: 30em;
  background-color: green;
  opacity: 1.0;
}

.grid-item:hover{
	opacity: 0;
}
